.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    padding: 0px rem(40);
    height: rem(70);
    font-size: rem(17);
    line-height: math.div(22, 17);
    font-weight: 700;
    letter-spacing: rem(-0.4);
    color: $black;
    background-color: $primary;
    border-radius: 0px rem(18) 0px 0px;
    transition: background-color 0.5s ease 0s, color 0.5s ease 0s;
    @media (max-width: $tablet) {
        padding: 0px rem(20);
    }
    &::before {
        color: $white;
        font-size: rem(10);
        margin-left: rem(20);
        transition: color 0.5s ease 0s;
    }
    &_yellow {
        @media (any-hover: hover) {
            &:hover {
                background-color: $white;
                &::before {
                    color: $primary;
                }
            }
        }
    }

    &_black {
        color: $white;
        background-color: $black;
        &::before {
            color: $primary;
        }
        @media (any-hover: hover) {
            &:hover {
                color: $black;
                background-color: $primary;
                &::before {
                    color: $white;
                }
            }
        }
    }
    &_menu {
        color: $black;
        height: rem(50);
        background-color: $primary;
        &::before {
            margin-left: rem(10);
            color: $white;
        }
        @media (any-hover: hover) {
            &:hover {
                background-color: $white;
                &::before {
                    color: $primary;
                }
            }
        }
    }
}
