.line {
    height: rem(4);
    width: rem(170);
    background: linear-gradient(90deg, rgba(255, 172, 18, 1) 0%, rgba(0, 0, 0, 1) 100%);
    @media (max-width: $mobileSmall) {
        width: 100%;
    }
}
.title {
    font-weight: 700;
    font-size: rem(50);
    line-height: math.div(65, 50);
    letter-spacing: rem(-1.25);
    color: $black;
    @include adaptiveValue("font-size", 50, 40, 1070, 991.98, 1);
    &_w {
        color: $white;
    }
}
.text {
    font-size: rem(20);
    line-height: math.div(28, 20);
    letter-spacing: rem(-0.5);
    color: $black;
    opacity: 0.6;
    &_w {
        color: $white;
    }
}
.subtitle {
    font-weight: 700;
    font-size: rem(20);
    line-height: math.div(26, 20);
    letter-spacing: rem(-0.5);
    color: $black;
}
