.fullscreen {
    padding-top: rem(30);
    flex: 1 1 auto;
    min-height: 100vh;
    position: relative;
    display: flex;
    @include adaptiveValue("margin-bottom", 150, 80, 1070, 991.98, 1);
    &__container {
        flex: 1 1 auto;
        position: relative;
        z-index: 1;
    }
    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    &__text {
        padding: rem(20) 0px;
    }

    &__title {
        font-weight: 700;
        @include adaptiveValue("font-size", 80, 50, 1070, 479.98, 1);
        line-height: math.div(80, 80);
        letter-spacing: rem(-2);
        color: $white;
        max-width: rem(520);
        margin-bottom: rem(20);
        @media (max-width: $mobileSmall) {
            text-align: center;
            max-width: 100%;
        }
    }

    &__subtitle {
        max-width: rem(430);
        @include adaptiveValue("font-size", 20, 17, 1070, 479.98, 1);
        line-height: math.div(28, 20);
        letter-spacing: rem(-0.5);
        color: $white;
        opacity: 0.6;
        @media (max-width: $mobileSmall) {
            max-width: 100%;
            text-align: center;
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        background-color: $white;
        padding: 0px rem(40);
        @include adaptiveValue("height", 100, 60, 1070, 479.98, 1);
        @media (max-width: $mobileSmall) {
            justify-content: center;
        }
    }

    &__link {
        @extend .subtitle;
        display: flex;
        flex-direction: row-reverse;
        transition: color 0.5s ease 0s;
        &::before {
            display: flex;
            font-size: rem(12);
            justify-content: center;
            align-items: center;
            margin-left: rem(15);
        }
        @media (any-hover: hover) {
            &:hover {
                color: $primary;
            }
        }
    }

    &__bg-ibg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(198.73deg, rgba(0, 0, 0, 0.0001) 15.31%, rgba(0, 0, 0, 0.837986) 67.37%);
        }
    }
}

//========================================================================================================================================================

.hands {
    display: flex;
    @media (max-width: $mobile) {
        display: block;
    }
    &__content {
        flex: 0 0 100%;
        display: flex;
        align-items: center;
        padding: rem(40) 0px;
    }

    &__container {
    }
    &__body {
        @media (min-width: $tablet) {
            @include adaptiveValue("padding-left", 44, 20, 1070, 991.98, 1);
            transform: translate(100%, 0px);
            width: 50%;
        }
        @media (max-width: $mobileSmall) {
            text-align: center;
        }
    }
    &__line {
        &:not(:last-child) {
            margin-bottom: rem(17);
        }
    }

    &__title {
        &:not(:last-child) {
            margin-bottom: rem(20);
        }
    }

    &__text {
        &:not(:last-child) {
            margin-bottom: rem(30);
        }
    }

    &__btn {
    }

    &__image-ibg {
        margin: 0px 0px rem(-66) rem(-16);
        box-shadow: 0 rem(62) rem(54) rgba(0, 0, 0, 0.3);
        border-radius: 0px rem(57) 0px 0px;
        overflow: hidden;
        flex: 0 0 50%;
        padding-bottom: 45.625%;
        transform: translate(-200%, 0px);
        @media (max-width: $tablet) {
            margin: 0px 0px 0px rem(-10);
        }
        @media (max-width: $mobile) {
            border-radius: 0%;
            box-shadow: 0 rem(40) rem(10) rgba(0, 0, 0, 0.3);
            transform: translate(0px, 0px);
            margin: 0px 0px rem(20) 0px;
            min-height: rem(250);
        }
    }
}
//========================================================================================================================================================

.live {
    @include adaptiveValue("padding-top", 215, 40, 1070, 767.98, 1);
    @include adaptiveValue("padding-bottom", 390, 80, 1070, 767.98, 1);
    background-color: $gray_03;
    &__container {
    }

    &__line {
        &:not(:last-child) {
            margin-bottom: rem(17);
        }
    }

    &__title {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 60, 40, 1070, 767.98, 1);
        }
        @media (max-width: $mobileSmall) {
            text-align: center;
        }
    }

    &__filter {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 75, 50, 1070, 767.98, 1);
        }
    }
    &__items {
    }
}
.filter-live {
    background-color: $white;
    box-shadow: 0px rem(32) rem(34) rgba(0, 0, 0, 0.14);
    border-radius: rem(25);
    display: flex;
    align-items: center;
    @media (min-width: $mobile) {
        max-height: rem(120);
    }
    @media (max-width: $mobile) {
        flex-wrap: wrap;
        align-items: center;
        padding: rem(20) 0px;
    }
    &__column {
        flex: 0 1 25%;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        z-index: 1;
        cursor: pointer;
        padding: rem(35) 0px;
        border-right: rem(1) solid $gray_04;
        &:last-child {
            border: none;
        }
        @media (max-width: $tablet) {
            padding: rem(20) 0px;
        }
        @media (max-width: $mobile) {
            flex: 1 1 100%;
            padding: 0;
        }
        @media (any-hover: hover) {
            &:hover {
                .filter-live__category {
                    color: $primary;
                    transition: all 0.5s ease 0s;
                    &::after {
                        transform: rotate(-180deg);
                    }
                }
                .filter-live__sub {
                    @media (min-width: $mobile) {
                        opacity: 1;
                        visibility: visible;
                    }
                    @media (max-width: $mobile) {
                        display: block;
                    }
                }
            }
        }
        &._active {
            .filter-live__category {
                color: $primary;
                &::after {
                    transform: rotate(-180deg);
                }
            }
            .filter-live__sub {
                @media (min-width: $mobile) {
                    opacity: 1;
                    visibility: visible;
                }
                @media (max-width: $mobile) {
                    display: block;
                }
            }
        }
    }

    &__category {
        flex: 1 1 100%;
        padding: rem(15) rem(30);
        font-weight: 700;
        font-size: rem(17);
        line-height: math.div(22, 17);
        letter-spacing: rem(-0.4);
        color: $black;
        display: flex;
        align-items: center;
        @media (max-width: $mobileSmall) {
            justify-content: space-between;
        }
        &::after {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            font-size: rem(8);
            transition: transform 0.5s ease 0s;
            margin-left: rem(10);
        }
        @media (max-width: $tablet) {
            padding: rem(10) rem(20);
        }
    }

    &__sub {
        padding-top: rem(10);
        position: absolute;
        transform: translate(0px, 50%);
        width: 100%;
        top: 0;
        left: 0;
        @media (max-width: $tablet) {
            transform: translate(0px, 35%);
        }
        @media (min-width: $mobile) {
            opacity: 0;
            visibility: hidden;
            transition: all 0.5s ease 0s;
        }
        @media (max-width: $mobile) {
            display: none;
            transform: translate(0px, -10%);
        }
        @media (max-width: $mobile) {
            display: none;
            position: relative;
            z-index: 10;
            top: 0;
            left: 0;
        }
    }

    &__sub-list {
        background-color: $white;
        display: block;
        font-weight: 700;
        padding: rem(12) rem(32);
        font-size: rem(17);
        line-height: math.div(22, 17);
        letter-spacing: rem(-0.4);
        color: hsla(0, 0%, 0%, 0.5);
        transition: color 0.5s ease 0s;
        border-bottom: rem(1) solid $gray_04;
        &:last-child {
            border: none;
        }
        @media (max-width: $tablet) {
            padding: rem(10) rem(20);
        }
        @media (any-hover: hover) {
            &:hover {
                color: $primary;
            }
        }
    }
}

.items-live {
    display: flex;
    flex-wrap: wrap;
    @include adaptiveValue("margin-right", -15, -10, 1070, 991.98, 1);
    @include adaptiveValue("margin-left", -15, -10, 1070, 991.98, 1);
    &__column {
        flex: 0 1 33.333%;
        @include adaptiveValue("padding-right", 15, 10, 1070, 991.98, 1);
        @include adaptiveValue("padding-left", 15, 10, 1070, 991.98, 1);
        padding-bottom: rem(30);
        @media (max-width: $mobile) {
            flex: 0 1 50%;
        }
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        height: 100%;
        box-shadow: 0px rem(32) rem(34) rgba(0, 0, 0, 0.02);
        border-radius: rem(25);
        overflow: hidden;
        transition: all 0.5s ease 0s;
        background-color: $white;
        @media (min-width: $tablet) {
            &:hover {
                background-color: $primary;
                box-shadow: 0px rem(22) rem(34) rgba(0, 0, 0, 0.14);
                .items-live__footer {
                    border-top: rem(1) solid $black;
                }
                .items-live__feature {
                    border-right: rem(1) solid $black;
                    &:last-child {
                        border: none;
                    }
                }
            }
        }
    }

    &__image {
        img {
            max-width: 100%;
        }
    }

    &__body {
        display: flex;
        align-items: center;
        min-height: rem(90);
        padding: rem(10) rem(30);
        flex: 1 1 auto;
    }

    &__title {
        font-weight: 700;
        font-size: rem(24);
        line-height: math.div(31, 24);
        letter-spacing: rem(-0.6);
        color: $black;
    }

    &__footer {
        transition: all 0.5s ease 0s;
        border-top: rem(1) solid $gray_04;
    }

    &__features {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__feature {
        transition: all 0.5s ease 0s;
        border-right: rem(1) solid $gray_04;
        display: flex;
        height: rem(60);
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: rem(17);
        line-height: math.div(22, 17);
        letter-spacing: rem(-0.4);
        color: $black;
        flex: 0 1 33.333%;
        &::before {
            font-size: rem(16);
            margin-right: rem(10);
        }
        &:last-child {
            border: none;
        }
    }
}

//========================================================================================================================================================

.hands-two {
    @media (min-width: $mobile) {
        display: flex;
    }
    &__content {
        flex: 0 0 100%;
        padding-bottom: rem(60);
        @media (min-width: $mobile) {
            padding: rem(40) 0px;
            margin-right: rem(16);
        }
    }

    &__container {
        height: 100%;
        @media (min-width: $mobile) {
            display: flex;
            align-items: center;
        }
    }

    &__body {
        @media (min-width: $pc) {
            padding-right: rem(44);
        }
        @media (min-width: $mobile) {
            width: 50%;
        }
        @media (max-width: $mobileSmall) {
            text-align: center;
        }
    }

    &__line {
        &:not(:last-child) {
            margin-bottom: rem(17);
        }
    }

    &__title {
        &:not(:last-child) {
            margin-bottom: rem(17);
        }
    }

    &__text {
        @media (min-width: $tablet) {
            max-width: rem(430);
        }
        &:not(:last-child) {
            margin-bottom: rem(30);
        }
    }

    &__btn {
    }

    &__image-ibg {
        @media (min-width: $mobile) {
            flex: 0 0 50%;
            padding-bottom: 45.625%;
            overflow: hidden;
            @include adaptiveValue("margin-top", -170, -50, 1070, 991.98, 1);
            box-shadow: 0 rem(62) rem(54) rgba(0, 0, 0, 0.3);
            border-radius: rem(57) 0px 0px 0px;
            transform: translate(-100%, 0px);
        }
        @media (max-width: $mobile) {
            box-shadow: 0 rem(40) rem(10) rgba(0, 0, 0, 0.3);
            margin-bottom: rem(20);
            min-height: rem(250);
        }
    }
}

//========================================================================================================================================================

.good {
    background-color: $black;
    text-align: center;
    @include adaptiveValue("padding-top", 150, 40, 1070, 479.98, 1);
    @include adaptiveValue("padding-bottom", 150, 40, 1070, 479.98, 1);
    @media (min-width: $mobile) {
        padding-right: rem(20);
        padding-left: rem(20);
    }
    &__container {
    }

    &__body {
        margin: 0 auto;
        max-width: rem(500);
    }

    &__line {
        display: inline-block;
        &:not(:last-child) {
            margin-bottom: rem(17);
        }
    }

    &__title {
        &:not(:last-child) {
            margin-bottom: rem(20);
        }
    }

    &__text {
        max-width: rem(430);
        margin: 0px auto rem(30) auto;
    }

    &__btn {
    }
}

//========================================================================================================================================================

.feedback {
    @include adaptiveValue("padding-top", 150, 40, 1070, 479.98, 1);
    @include adaptiveValue("padding-bottom", 150, 40, 1070, 479.98, 1);
    @media (min-width: $mobile) {
        padding-right: rem(20);
        padding-left: rem(20);
    }
    &__container {
    }

    &__row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: rem(30);
        @media (max-width: $tablet) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: $mobileSmall) {
            grid-template-columns: 1fr;
        }
    }

    &__column {
        overflow: hidden;
        @media (max-width: $mobile) {
            &:last-child {
                display: none;
            }
        }
        @media (max-width: $mobileSmall) {
            &:last-child {
                display: block;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: flex-end;
        &._active {
            .feedback__body {
                display: block;
            }
            .feedback__item {
                background-color: $black;
            }
            .feedback__name {
                color: $white;
            }
        }
    }

    &__body {
        display: none;
        flex: 1 1 auto;
        background-color: $white;
    }

    &__line {
        width: 100%;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 40, 20, 1070, 991.98, 1);
        }
    }

    &__text {
        font-weight: 700;
        @include adaptiveValue("font-size", 24, 20, 1070, 991.98, 1);
        line-height: math.div(31, 24);
        letter-spacing: rem(-0.6);
        color: $black;
        @include adaptiveValue("margin-bottom", 60, 30, 1070, 991.98, 1);
        @media (max-width: $mobile) {
            text-align: center;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        background-color: $white;
        @include adaptiveValue("padding-top", 46, 20, 1070, 991.98, 1);
        @include adaptiveValue("padding-bottom", 46, 20, 1070, 991.98, 1);
        @include adaptiveValue("padding-right", 40, 20, 1070, 991.98, 1);
        @include adaptiveValue("padding-left", 40, 20, 1070, 991.98, 1);
        cursor: pointer;
        transition: background-color 0.5s ease 0s;
        @media (max-width: $mobile) {
            justify-content: center;
        }
        @media (any-hover: hover) {
            &:hover {
                background-color: $black;
                .feedback__name {
                    color: $white;
                }
            }
        }
    }

    &__avatar {
        height: rem(50);
        flex: 0 0 rem(50);
        overflow: hidden;
        border-radius: 50%;
        img {
            max-width: 100%;
        }
    }

    &__info {
        margin-left: rem(20);
        line-height: math.div(20, 15);
        letter-spacing: rem(-0.4);
    }

    &__name {
        transition: color 0.3s ease 0s;
        font-weight: 700;
        color: $black;
        margin-bottom: rem(4);
    }

    &__job {
        color: $gray_02;
    }
}
