//========================================================================================================================================================

.product-header {
    background-color: $black;
    &__top {
        @include adaptiveValue("padding-top", 32, 15, 1070, 767.98, 1);
        @include adaptiveValue("padding-bottom", 32, 15, 1070, 767.98, 1);
        border-bottom: rem(1) solid rgba(255, 255, 255, 0.1);
    }

    &__container-top {
    }

    &__bottom {
        @include adaptiveValue("padding-top", 22, 15, 1070, 767.98, 1);
        @include adaptiveValue("padding-bottom", 22, 15, 1070, 767.98, 1);
    }

    &__container-bottom {
        display: flex;
        justify-content: space-between;
        @media (max-width: $mobile) {
            display: block;
        }
    }

    &__info {
        @media (max-width: $mobile) {
            text-align: center;
            margin-bottom: rem(20);
        }
    }

    &__name {
        font-weight: 700;
        font-size: rem(32);
        line-height: math.div(44, 32);
        letter-spacing: rem(-0.8);
        color: $white;
        margin-bottom: rem(4);
    }

    &__addres {
        line-height: math.div(24, 15);
        letter-spacing: rem(-0.4);
        color: $white;
        opacity: 0.6;
    }

    &__prices {
        text-align: right;
        @media (max-width: $mobile) {
            text-align: center;
        }
    }

    &__price {
        @extend .product-header__name;
    }

    &__square {
        @extend .product-header__addres;
    }
}

//========================================================================================================================================================

.page {
    &__content {
        @include adaptiveValue("padding-top", 60, 30, 170, 479.98, 1);
        @include adaptiveValue("padding-left", 150, 60, 1070, 479.98, 1);
        background-color: $gray_03;
    }
}
.content-page {
    &__container {
        @media (min-width: $tablet) {
            display: flex;
        }
    }
    &__row {
    }

    &__body {
        flex: 1 1 auto;
        min-width: 0;
    }

    &__side {
        flex: 0 0 rem(336);
    }

    &__body {
        padding-bottom: rem(80);
        @media (min-width: $tablet) {
            padding-bottom: rem(110);
            padding-right: rem(20);
        }
    }

    &__similar {
    }
}
.side-content {
    &__form {
        box-shadow: 0px rem(32) rem(34) rgba(0, 0, 0, 0.14);
        border-radius: rem(25);
        background-color: $white;
        padding: rem(20);
    }
    &__who {
        display: flex;
        align-items: center;
        background-color: $gray_03;
        padding: rem(15);
        border-radius: rem(10);
        margin-bottom: rem(20);
    }

    &__avatar {
        flex: 0 0 rem(40);
        height: rem(40);
        border-radius: 50%;
        overflow: hidden;
        img {
            max-width: 100%;
        }
    }

    &__info {
        margin-left: rem(10);
    }

    &__name {
        line-height: math.div(20, 15);
        letter-spacing: rem(-0.4);
        color: $black;
        &:not(:last-child) {
            margin-bottom: rem(2);
        }
    }

    &__view {
        display: inline-block;
        font-weight: 700;
        font-size: rem(13);
        line-height: math.div(17, 13);
        letter-spacing: rem(-0.3);
        color: $primary;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $black;
            }
        }
    }

    &__phone {
    }

    &__email {
    }

    &__text {
    }

    &__btn {
        width: 100%;
    }
}

//========================================================================================================================================================

.body-content {
    &__mainslider {
        @include adaptiveValue("margin-bottom", 20, 10, 767.98, 479.98, 1);
    }

    &__details {
        @include adaptiveValue("margin-bottom", 40, 30, 767.98, 479.98, 1);
    }

    &__description {
        @include adaptiveValue("margin-bottom", 40, 30, 767.98, 479.98, 1);
    }

    &__features {
        @include adaptiveValue("margin-bottom", 40, 30, 767.98, 479.98, 1);
    }
}
//========================================================================================================================================================

.details-body {
    background-color: $white;
    box-shadow: 0px rem(32) rem(34) rgba(0, 0, 0, 0.133714);
    border-radius: rem(25);
    &__top {
        @include adaptiveValue("padding", 30, 20, 1070, 767.98, 1);
        border-bottom: rem(1) solid $gray_04;
    }

    &__title {
    }

    &__bottom {
        display: flex;
        @media (max-width: $mobileSmall) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__column {
        border-right: rem(1) solid $gray_04;
        height: rem(60);
        flex: 0 1 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: $mobile) {
            height: rem(50);
        }
        &:last-child {
            border: none;
        }
        @media (max-width: $mobileSmall) {
            flex: 0 1 33.333%;
            border-bottom: rem(1) solid $gray_04;
            &:nth-child(4) {
                border-bottom: 0;
            }
            &:nth-child(3) {
                border-right: 0;
            }
        }
    }

    &__info {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: rem(17);
        line-height: math.div(22, 17);
        letter-spacing: rem(-0.4);
        color: $black;
        &::before {
            font-size: rem(16);
            margin-right: rem(10);
        }
    }
}
//========================================================================================================================================================

.mainslider {
    cursor: grab;
    &__slide {
        padding-bottom: 72.83%;
        img {
            border-radius: 0px rem(57) 0px 0px;
            max-width: 100%;
        }
    }
}

//========================================================================================================================================================

.swiper-pagination-bullets {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include adaptiveValue("margin-bottom", 40, 30, 767.98, 479.98, 1);
}
.swiper-pagination-bullet {
    border-radius: 0px rem(16) 0px 0px;
    border: rem(1) solid transparent;
    cursor: pointer;
    @include adaptiveValue("width", 80, 40, 991.98, 530, 1);
    @include adaptiveValue("height", 80, 40, 991.98, 530, 1);
    overflow: hidden;
    //  background-size: cover;
    //  background-repeat: no-repeat;
    transition: border 0.3s ease 0s;
    @media (any-hover: hover) {
        &:hover {
            border: rem(1) solid $primary;
        }
    }
}
.swiper-pagination-bullet-active {
    border: rem(1) solid $primary;
}
//========================================================================================================================================================

.description-body {
    background-color: $white;
    box-shadow: 0px rem(32) rem(34) rgba(0, 0, 0, 0.133714);
    border-radius: rem(25);
    &__top {
        @include adaptiveValue("padding", 30, 20, 1070, 767.98, 1);
        border-bottom: rem(1) solid $gray_04;
    }

    &__bottom {
        @include adaptiveValue("padding", 30, 20, 1070, 767.98, 1);
        p {
            line-height: math.div(22, 15);
            letter-spacing: rem(-0.4);
            color: $black;
            opacity: 0.6;
            &:not(:last-child) {
                margin-bottom: rem(20);
            }
        }
    }
}
//========================================================================================================================================================

.features-body {
    @extend .description-body;
    &__top {
        @extend .description-body__top;
    }

    &__bottom {
        display: flex;
        @include adaptiveValue("padding", 30, 20, 1070, 767.98, 1);
        justify-content: space-between;
        margin: 0px rem(-10);
        @media (max-width: em(630)) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__column {
        padding: 0px rem(10);
        flex: 0 1 33.333%;
        display: flex;
        @media (max-width: em(630)) {
            justify-content: center;
            flex: 0 1 50%;
            &:not(:last-child) {
                margin-bottom: rem(20);
            }
        }
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
        }
        @media (min-width: em(630)) {
            &:first-child {
                justify-content: flex-start;
            }
            &:nth-child(2) {
                justify-content: center;
            }
            &:last-child {
                justify-content: flex-end;
            }
        }
    }

    &__list {
        li {
            &:not(:last-child) {
                margin-bottom: rem(20);
            }
        }
    }

    &__item {
        line-height: math.div(22, 15);
        letter-spacing: rem(-0.4);
        color: $black;
        opacity: 0.6;
        &::before {
            display: inline-flex;
            font-size: rem(16);
            margin-right: rem(10);
        }
    }
}

//========================================================================================================================================================

.similar-content {
    &__container {
    }

    &__line {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 17, 10, 1070, 991.98, 1);
        }
    }

    &__title {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 60, 20, 1070, 767.98, 1);
        }
    }

    &__items {
    }
}

.items-similar {
    overflow: visible;
    display: flex;
    margin: 0px rem(-15);
    cursor: grab;
    @media (max-width: em(1200)) {
        margin: 0px rem(-10);
    }
    &__column {
        flex: 0 0 33.333%;
        padding: 0px rem(15) rem(30) rem(15);
        @media (max-width: em(1200)) {
            padding: 0px rem(10) rem(30) rem(10);
        }
        @media (max-width: $mobile) {
            flex: 0 1 50%;
        }
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        height: 100%;
        box-shadow: 0px rem(32) rem(34) rgba(0, 0, 0, 0.02);
        border-radius: rem(25);
        overflow: hidden;
        transition: all 0.5s ease 0s;
        background-color: $white;
        @media (any-hover: hover) {
            &:hover {
                background-color: $primary;
                box-shadow: 0px rem(32) rem(34) rgba(0, 0, 0, 0.14);
                .items-live__footer {
                    border-top: rem(1) solid $black;
                }
                .items-live__feature {
                    border-right: rem(1) solid $black;
                    &:last-child {
                        border: none;
                    }
                }
            }
        }
    }

    &__image {
        img {
            max-width: 100%;
        }
    }

    &__body {
        display: flex;
        align-items: center;
        min-height: rem(90);
        padding: rem(10) rem(30);
        flex: 1 1 auto;
    }

    &__title {
        font-weight: 700;
        font-size: rem(24);
        line-height: math.div(31, 24);
        letter-spacing: rem(-0.6);
        color: $black;
    }

    &__footer {
        transition: border-top 0.5s ease 0s;
        border-top: rem(1) solid $gray_04;
    }

    &__features {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__feature {
        transition: border-right 0.5s ease 0s;
        border-right: rem(1) solid $gray_04;
        display: flex;
        height: rem(60);
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: rem(17);
        line-height: math.div(22, 17);
        letter-spacing: rem(-0.4);
        color: $black;
        flex: 0 1 33.333%;
        &::before {
            font-size: rem(16);
            margin-right: rem(10);
        }
        &:last-child {
            border: none;
        }
    }
}
